@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iwantjoin</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
</head>
<body>
    <div style="margin:10%;">
        <h1><i class="layui-icon" style="font-size:36px;color:#FF5722;">&#xe664;</i>  你要加入吗？</h1>
        <hr class="layui-bg-red">
        <h3>条件</h3><br />
        <div><span>1、拥有自己的打印机且可使用</span></div>
        <div><span>2、打印机位于本校</span></div>
        <div><span>3、有一定的时间运营</span></div>
        <hr class="layui-bg-red">
        <h3>如果满足上面的条件，就来吧</h3><br />
        <div><span>1、CALL ME 邓先生：15892744748</span></div>
        <div><span>2、或者发送意向申请邮件至3162795401@qq.com</span></div><br/><br />
        <div>
            <span>期待你的加入 </span><i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe6af;</i>&nbsp;&nbsp;
            <i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe6af;</i>&nbsp;&nbsp;<i class="layui-icon" style="font-size: 30px; color: #FF5722;">&#xe6af;</i>
        </div>
    </div>
</body>
</html>
