@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManPrintStore</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">
    <script src="~/Script/jquery-1.8.2.min.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div>
        <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
            <button data-method="addPrintStore" class="layui-btn">添加打印店信息</button>
        </div>

    </div>
   

    <!--------------数据表---------------------->
    <table class="layui-table" lay-data="{url:'../ManPrintStore/showAllPrintStore', page:true, id:'PrintStore',limits:[10,15,20,30,60],limit:10}" lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                <th lay-data="{ field: 's_id'}">店编号</th>
                <th lay-data="{ field: 's_name', title: '店名'}"></th>
                <th lay-data="{ field: 's_school', title: '所在学校'}"></th>
                <th lay-data="{ field: 'sk_tel', title: '店主电话', edit: 'text' }"></th>
                <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
            </tr>
        </thead>
    </table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs showdetail" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <!--------------编辑信息表单布局---------------------->
    <div id="addPrintStore" name="addPrintStore"  style="display:none;padding:20px 36px 0 0;">
        <form class="layui-form" style="text-align:center;align-content:center;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">店编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="s_id" name="s_id" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">店名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="s_name" name="s_name" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所在学校</label>
                    <div class="layui-input-inline">
                        <input type="text" id="s_school" name="s_school" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">店主电话</label>
                    <div class="layui-input-inline">
                        <input type="text" id="sk_tel" name="sk_tel" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">打印机数目</label>
                <div class="layui-input-inline">
                    <input type="text" id="s_machine" name="s_machine" class="layui-input">
                </div>
                <label class="layui-form-label">电脑数目</label>
                <div class="layui-input-inline">
                    <input type="text" id="s_computer" name="s_computer" class="layui-input">
                    @*<input type="radio" id="s_name_nan" name="s_name" value="男" title="男">
                        <input type="radio" id="s_name_nv" name="s_name" value="女" title="女">*@
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作人员数</label>
                <div class="layui-input-inline">
                    <input type="text" id="s_worker" name="s_worker" class="layui-input">
                </div>
                <label class="layui-form-label">工作时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="s_worktime" name="s_worktime" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">具体位置</label>
                <div class="layui-input-block">
                    <input type="text" id="s_location" name="s_location" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">运营状态：</label>
                <div class="layui-input-block">
                    <input type="radio" id="s_runstate0" name="s_runstate" value="0" title="审核中">
                    <input type="radio" id="s_runstate1" name="s_runstate" value="1" title="运营中">
                    <input type="radio" id="s_runstate2" name="s_runstate" value="2" title="歇业中">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="s_breifinfo" id="s_breifinfo"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;align-content:center;text-align:center;">
                    <button id="cansel" data-method="cansel" class="layui-btn" style="margin:0 0 0 60px;width:120px;">取消</button>
                    <button id="sureadd" data-method="sureadd" class="layui-btn" lay-submit lay-filter="*">确认添加</button>
                    <button id="surechange" data-method="surechange" class="layui-btn" lay-submit lay-filter="*">确认修改</button>
                </div>
            </div>
        </form>
    </div>

    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layer', 'table'], function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer, form = layui.form, table = layui.table; //独立版的layer无需执行这一句
            //触发事件
            var active = {
                addPrintStore: function () {
                    $("#surechange").hide();//隐藏按钮
                    $("#s_id").val("系统自动生成");
                    $("#s_id").prop("readonly", true);//不可修改
                    layer.open({
                        type: 1,
                        title: '添加打印店',
                        skin: 'layui-layer-lan',
                        area: ['700px', '600px'],
                        content: $('#addPrintStore')
                    });
                },
                cansel: function () {
                    layer.closeAll();
                },
                //添加
                sureadd: function () {
                    form.on('submit(*)', function (data) {
                        $.ajax({
                            type: "POST",
                            url: '../ManPrintStore/addPrintStore',
                            data: data.field,//当前容器的全部表单字段，名值对形式：{name: value}
                            success: function (data) {
                                if (data > 0) {
                                    layer.closeAll();
                                    layer.msg("添加成功", { icon: 1, time: 3000, end: function () { window.location.reload(); } });
                                    //$(".layui-laypage-btn")[0].click();//模拟点击实现刷新
                                }
                                else if (data == -1) {
                                    layer.closeAll();
                                    layer.msg("已存在相同店名", { icon: 2, time: 3000, end: function () { } });//不必跳转
                                    //$(".layui-laypage-btn")[0].click();//模拟点击实现刷新
                                }
                                else {
                                    layer.closeAll();
                                    layer.msg("添加失败", { icon: 2, time: 3000, end: function () { window.location.reload(); } });
                                    //$(".layui-laypage-btn")[0].click();//模拟点击实现刷新
                                }
                            }
                        });
                        return false; //阻止全部刷新
                    });
                },
                //修改
                surechange: function () {
                    form.on('submit(*)', function (data) {
                        $.ajax({
                            type: "POST",
                            url: '../ManPrintStore/editshop',
                            data: data.field,//当前容器的全部表单字段，名值对形式：{name: value}
                            success: function (data) {
                                if (data > 0) {
                                    layer.closeAll();
                                    layer.msg("修改成功", { icon: 1, time: 3000, end: function () { window.location.reload(); } });
                                    //$(".layui-laypage-btn")[0].click();//模拟点击实现刷新
                                }
                                else {
                                    layer.closeAll();
                                    layer.msg("修改失败", { icon: 2, time: 3000, end: function () { window.location.reload(); } });
                                    //$(".layui-laypage-btn")[0].click();//模拟点击实现刷新
                                }
                            }
                        });
                        return false; //阻止全部刷新
                    });
                }
            }
            //点击按钮的出发事件
            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

        });

        layui.use(['table', 'form'], function () {
            var table = layui.table, form = layui.form;
            var indexnum;//记录当前弹出层的id
            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj)
            });
            //监听工具条,行内操作按钮
            table.on('tool(demo)', function (obj) {
                var data = obj.data;

                /*详细信息事件方法*/
                if (obj.event === 'detail') {
                    //layer.msg('ID：' + data.U_Tel + ' 的查看操作');
                    $("#cansel").hide();//影藏按钮
                    $("#sureadd").hide()
                    $("#surechange").hide()
                   // $("#s_id").prop("readonly", false);//可修改
                    layer.open({
                        type: 1,
                        title: '查看详细信息',
                        skin: 'layui-layer-lan',
                        area: ['700px', '600px'],
                        content: $('#addPrintStore')
                    });
                    ////获取详细信息,赋值
                    $.ajax({
                        type: 'get',
                        url: '../ManPrintStore/showshopdetail',
                        data: { s_id: data.s_id },
                        dataType: "json",
                        success: function (data) {
                            if (data != null) {
                                $.each(data, function (key, value) {
                                    $("#s_id").val(value.s_id);
                                    $("#sk_tel").val(value.sk_tel);
                                    $("#s_name").val(value.s_name);
                                    $("#s_school").val(value.s_school);
                                    $("#s_location").val(value.s_location);
                                    $("#s_machine").val(value.s_machine);
                                    $("#s_computer").val(value.s_computer);
                                    $("#s_worker").val(value.s_worker);
                                    $("#s_worktime").val(value.s_worktime);
                                    $("#s_breifinfo").val(value.s_breifinfo);
                                    if (value.s_runstate == '0') { $("#s_runstate0").prop('checked', true); } else if (value.s_runstate == '1') { $("#s_runstate1").prop('checked', true); } else { $("#s_runstate2").prop('checked', true); }
                                    //$("input[value='" + value.s_name + "']").attr('checked', 'true');
                                    form.render(); //更新全部
                                });
                            }
                            else {
                                layer.msg("系统故障，无详细信息");
                            }
                        }
                    });
                    $("form input,textarea").prop("readonly", true);
                    //$('input,select,textarea', $('form[name="addPrintStore"]')).prop("readonly", true);
                }
                //删除信息
                else if (obj.event === 'del') {
                    layer.confirm('确定删除？？', { btn: ['确认删除', '手滑了'], title: "警告" }, function (index) {
                        layer.close(index);
                        $.ajax({
                            type: 'POST',
                            url: 'deleteshop',  //在数据库中删除该行
                            data: { s_id: data.s_id },
                            success: function (data) {
                                if (data > 0) {
                                    obj.del();  //在显示页面中删除改行
                                    layer.msg("删除成功", { icon: 1 });
                                }
                                else {
                                    layer.msg("系统故障，删除失败", { icon: 2 });
                                }
                            }
                        })
                    });

                    /*编辑行信息方法*/
                } else if (obj.event === 'edit') {
                    layer.open({
                        type: 1,
                        title: '编辑信息',
                        skin: 'layui-layer-lan',
                        area: ['700px', '600px'],
                        content: $('#addPrintStore')
                    });
                    $("#cansel").hide();//影藏按钮
                    $("#sureadd").hide();//显示按钮
                    $("#surechange").show();
                    ////获取详细信息,赋值
                    $.ajax({
                        type: 'get',
                        url: '../ManPrintStore/showshopdetail',
                        data: { s_id: data.s_id },
                        dataType: "json",
                        success: function (data) {
                            if (data != null) {
                                $.each(data, function (key, value) {
                                    $("#s_id").val(value.s_id);
                                    $("#sk_tel").val(value.sk_tel);
                                    $("#s_name").val(value.s_name);
                                    $("#s_school").val(value.s_school);
                                    $("#s_location").val(value.s_location);
                                    $("#s_machine").val(value.s_machine);
                                    $("#s_computer").val(value.s_computer);
                                    $("#s_worker").val(value.s_worker);
                                    $("#s_worktime").val(value.s_worktime);
                                    $("#s_breifinfo").val(value.s_breifinfo);
                                    if (value.s_runstate == '0') { $("#s_runstate0").prop('checked', true); } else if (value.s_runstate == '1') { $("#s_runstate1").prop('checked', true); } else { $("#s_runstate2").prop('checked', true); }
                                    //$("input[value='" + value.s_name + "']").attr('checked', 'true');
                                    form.render(); //更新全部
                                });
                            }
                            else {
                                layer.msg("系统故障，无详细信息");
                            }
                        }
                    });
                    $("form input,textarea").prop("readonly", false);//使可编辑
                }
            });
        });

    </script>
</body>
</html>
