@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PositionWithFunction</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">
    <script src="~/Script/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            <option value="1">layer</option>
                            <option value="2">form</option>
                            <option value="3">layim</option>
                            <option value="4">element</option>
                            <option value="5">laytpl</option>
                        </select>
                    </div>
                </div>
                <button class="layui-btn layui-btn-normal" lay-event="getCheckData">查看权限</button>
                <button class="layui-btn layui-btn-normal" lay-event="getCheckData">保存当前修改</button>
            </div>
        </form>


        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">选择权限</label>
                <div class="layui-input-block">
                    <div id="LAY-auth-tree-convert-index"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit lay-filter="LAY-auth-tree-submit">提交</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
        
    <script src="~/Content/layui/layui.js"></script>
        <script type="text/javascript">
            layui.config({
                base: '../../../Content/layui/tree/',
            }).extend({
                authtree: 'authtree',
            });
            layui.use(['jquery', 'authtree', 'form', 'layer', 'code'], function () {
                var $ = layui.jquery;
                var authtree = layui.authtree;
                var form = layui.form;
                var layer = layui.layer;
                // 初始化
                $.ajax({
                    //url: '../../../Content/layui/tree/list-2.json',
                    url: 'GetFunctionTree',
                    dataType: 'json',
                    success: function (res) {
                        // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                        var trees = authtree.listConvert(res.data.list, {
							primaryKey: 'id'
						    ,startPid: 0
						    ,parentKey: 'pid'
						    ,nameKey: 'name'
						    ,valueKey: 'id'
						});
						layui.code({
						});
						// 如果页面中多个树共存，需要注意 layfilter 需要不一样
						authtree.render('#LAY-auth-tree-convert-index', trees, {
							inputname: 'authids[]',
							layfilter: 'lay-check-convert-auth',
							openall: true,
							autowidth: true,
						});

                        // PS:使用 form.on() 会引起了事件冒泡延迟的BUG，需要 setTimeout()，并且无法监听全选/全不选
                        // PS:如果开启双击展开配置，form.on()会记录两次点击事件，authtree.on()不会
                        /*			form.on('checkbox(lay-check-auth)', function(data){
                                        // 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
                                        setTimeout(function(){
                                            console.log('监听 form 触发事件数据', data);
                                            // 获取选中的叶子节点
                                            var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                                            console.log('leaf', leaf);
                                            // 获取最新选中
                                            var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                                            console.log('lastChecked', lastChecked);
                                            // 获取最新取消
                                            var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                                            console.log('lastNotChecked', lastNotChecked);
                                        }, 100);
                                    });
                        */			// 使用 authtree.on() 不会有冒泡延迟
                        authtree.on('change(lay-check-convert-auth)', function (data) {
                            console.log('监听 authtree 触发事件数据', data);
                            // 获取所有节点
                            var all = authtree.getAll('#LAY-auth-tree-convert-index');
                            // 获取所有已选中节点
                            var checked = authtree.getChecked('#LAY-auth-tree-convert-index');
                            // 获取所有未选中节点
                            var notchecked = authtree.getNotChecked('#LAY-auth-tree-convert-index');
                            // 获取选中的叶子节点
                            var leaf = authtree.getLeaf('#LAY-auth-tree-convert-index');
                            // 获取最新选中
                            var lastChecked = authtree.getLastChecked('#LAY-auth-tree-convert-index');
                            // 获取最新取消
                            var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-convert-index');
                            console.log(
                                'all', all, "\n",
                                'checked', checked, "\n",
                                'notchecked', notchecked, "\n",
                                'leaf', leaf, "\n",
                                'lastChecked', lastChecked, "\n",
                                'lastNotChecked', lastNotChecked, "\n"
                            );
                        });
                        authtree.on('deptChange(lay-check-convert-auth)', function (data) {
                            console.log('监听到显示层数改变', data);
                        });
                        authtree.on('dblclick(lay-check-convert-auth)', function (data) {
                            console.log('监听到双击事件', data);
                        });
                    },
                    error: function (xml, errstr, err) {
                        layer.alert(errstr + '，获取样例数据失败，请检查是否部署在本地服务器中！');
                    }
                });
                // 表单提交样例
                form.on('submit(LAY-auth-tree-submit)', function (obj) {
                    var authids = authtree.getChecked('#LAY-auth-tree-index');
                    console.log('Choosed authids is', authids);
                    // obj.field.authids = authids;
                    $.ajax({
                        url: 'tree.json',
                        dataType: 'json',
                        data: obj.field,
                        success: function (res) {
                            layer.alert('提交成功！');
                        }
                    });
                    return false;
                });
            });
        </script>
    </div>
</body>
</html>
