@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsertoStore</title>
    <link rel="stylesheet" type="text/css" href="~/Content/userpage/itemmain.css">
    <link rel="stylesheet" href="~/Content/dengmain/reset.css" />
    <link rel="stylesheet" href="~/Content/dengmain/main.css" />
    <link rel="stylesheet" href="~/Content/dengmain/printpage.css" />
    <link rel="stylesheet" href="~/Content/dengmain/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">

    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/jquery-form.js"></script>
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <style>
        .uploadfileinfo {
            background-color: rgba(212, 80, 80,0.26);
            padding: 1rem;
        }

            .uploadfileinfo span {
                margin: 0 1rem;
            }

            .uploadfileinfo select {
                margin: 0 2rem 0 0;
            }

            .uploadfileinfo input {
                margin: 0 2rem 0 0;
                width: 30px;
            }

            .uploadfileinfo a {
                margin: 0 3rem 0 0;
                color: red;
            }
    </style>
    <script type="text/javascript">
        //layui.use('layer', function () {
        //    var $ = layui.jquery, layer = layui.layer;

        /*定义几个全局变量*/
        var nocolor_single;//黑白单面打印价格
        var nocolor_double;//黑白双面打印价格
        var carryterm;//送货上门最低订单价格
        var carry;//记录店铺是否送货上门
        var carryadd;//送货加价
        var num = 0;  //记录上传文件的个数
        var change_carrynum = 0;//记录改变次数(奇数：送货上门，偶数不用)

         /* 判断店铺是否在自己定义的营业时间 */
        function checktime() {
            var work_time = $("#store_worktime").text().split("-");
            var work_time_open = work_time[0].split(":");
            var work_time_close = work_time[1].split(":");
            var time_now = new Date();
            var hour = parseInt(time_now.getHours());
            var minute = parseInt(time_now.getMinutes());
            //alert("work_time_open:" + work_time_open[0] + "***" + work_time_open[1] + "....work_time_close:" + work_time_close[0] + "***" + work_time_close[1] + "....hour:" + hour + "...minute:" + minute);
            if (hour < parseInt(work_time_open[0]) || hour > parseInt(work_time_close[0])) {
                alert("不是店铺工作时间，请明天再来。"); return false;
            } else if (hour == parseInt(work_time_open[0])) {
                if (minute < parseInt(work_time_open[1])) {
                    alert("不是店铺工作时间，请明天再来。"); return false;
                }
            } else if (hour == parseInt(work_time_close[0])) {
                if (minute > parseInt(work_time_close[1])) {
                    alert("不是店铺工作时间，请明天再来。"); return false;
                }
            } else {
                return true;
            }
        }

        //上传图片
        function FileUpload() {
            if ($("#MyFileUpload").val() == "") {
                alert("请选择文件");
                return;
            }
            if (nocolor_single == null || nocolor_double == null || nocolor_single == "" || nocolor_double == "") { alert("还未定价，请选择其他店铺打印."); return; }//还未定价的店铺无法计算价格
            if (!checktime()) { return; }//判断在不在店铺营业时间
            $("#Upfiles").prop("readonly", true);//使文件上传过程中，不重复点击操作，单个文件上传
            $("#form1").ajaxSubmit({
                type: 'post',
                url: '../UsertoStore/FileUpload',
                success: function (data) {
                    var serverData = data.split(":");
                    if (serverData[0] == "ok") {
                        /*判断文档页数*/
                        if (parseInt(serverData[2]) <= 0) {
                            alert("文档页数获取异常。");
                            return;
                        }
                        num++;  //增加文件的个数
                        // alert(serverData[2] + "  " + serverData[4]);
                        $("#docunment_pagenum").val(serverData[2]);
                        $("#uploadfilelist").append("<div id=\"" + num + "\" class=\"uploadfileinfo\"><span id=\"name" + num + "\" title=\"" + serverData[4] + "\">" + serverData[3] + "</span>页数:<span id=\"pages" + num + "\">" + serverData[2] + "p</span><\/div><br \/>");
                        $("#" + num + "").append("是否缩印：<select id=\"reduced" + num + "\"> <option value=\"1\">   否</option><option value=\"2\">一页两面</option><option value=\"4\">一页四面</option></select>");
                        $("#" + num + "").append("打印方式：<select id=\"pagestyle" + num + "\"> <option value=\"1\">单面</option><option value=\"2\">双面</option></select>");
                        $("#" + num + "").append("份数：<input type=\"Text\" id=\"copy" + num + "\" value=\"1\"/>");
                        $("#" + num + "").append("<a id=\"money" + num + "\" >￥</a>");
                        $("#" + num + "").append("<i id=\"icon" + num + "\" class=\"fa fa icon-1x icon-remove-circle\" title=\"删除\"></i>");
                        $("#MyFileUpload").clearFields(); //清空选择文件
                        $("#recordfilenum").val(num); //储存文件个数
                        $("#money" + num + "").text((parseInt(serverData[2]) * nocolor_single).toFixed(2) + "￥"); //初始单个文件费用
                        $("#totalmoney").text((parseFloat($("#totalmoney").text()) + parseFloat($("#money" + num + "").text())).toFixed(2));//初始总费用
                        /*添加，绑定select change事件*/
                        $(".uploadfileinfo select").on('change', function () {
                            var scene = $(this).attr("id"); //获取修改的id
                            var numid = scene.substr(scene.length - 1);//截取最后的id
                            var pagestext = $("#pages" + numid + "").text();
                            var page = parseInt(pagestext.substring(pagestext.indexOf(':') + 1, pagestext.indexOf('p'))); //获取页数
                            var copynums = parseInt($("#copy" + numid + "").val());
                            var pagestayle = parseInt($("#pagestyle" + numid + "").val());//记录是双面打印还是单面打印，但是了解了以后，打印店都是单面价格乘2就是双面价格（都是按面计费），所以并没有分开讨论---》想想还是分开讨论价格一样就是了，万一某些打印店不是这样的呢
                            //  alert(pagestext + "   " + page + "   " + copynums);
                            if (pagestayle == 1) {//单面计费
                                //计算单个文件费用
                                $("#money" + numid + "").text((parseFloat(page * nocolor_single * copynums) / parseFloat($("#reduced" + numid + "").find("option:selected").val())).toFixed(2) + "￥");
                                /*计算总费用*/
                                var totalmoney = 0;
                                for (var i = 1; i < 10; i++) {
                                    if ($("#" + i + "").length > 0) {
                                        totalmoney = parseFloat($("#money" + i + "").text()) + totalmoney;
                                    }
                                }
                                $("#totalmoney").text(totalmoney.toFixed(2));
                            }
                            else {//双面计费
                                //计算单个文件费用
                                $("#money" + numid + "").text((parseFloat(page * nocolor_double * copynums) / parseFloat($("#reduced" + numid + "").find("option:selected").val())).toFixed(2) + "￥");
                                /*计算总费用*/
                                var totalmoney = 0;
                                for (var i = 1; i < 10; i++) {
                                    if ($("#" + i + "").length > 0) {
                                        totalmoney = parseFloat($("#money" + i + "").text()) + totalmoney;
                                    }
                                }
                                $("#totalmoney").text(totalmoney.toFixed(2));
                            }
                            
                        });
                        /*添加，绑定select change事件*/
                        $(".uploadfileinfo input").on('change', function () {
                            var reg = /^\w+$/;
                            if (!reg.test($(this).val())) {
                                alert("请输入数字！！");
                                $(this).focus(); $(this).select(); return;
                            }
                            else {
                                if (parseInt($(this).val()) < 1) {
                                    alert("请输入大等于 0 的数字！！"); return;
                                }
                                else {
                                    var scene = $(this).attr("id"); //获取修改的id
                                    var numid = scene.substr(scene.length - 1);//截取最后的id
                                    var pagestext = $("#pages" + numid + "").text();
                                    var page = parseInt(pagestext.substring(pagestext.indexOf(':') + 1, pagestext.indexOf('p'))); //获取页数
                                    var copynums = parseInt($("#copy" + numid + "").val());
                                    //  alert(pagestext + "   " + page + "   " + copynums);
                                    //计算单个文件费用
                                    $("#money" + numid + "").text((parseFloat(page * nocolor_single * copynums).toFixed(2) / parseFloat($("#reduced" + numid + "").find("option:selected").val()).toFixed(2)) + "￥");
                                    /*计算总费用*/
                                    var totalmoney = 0;
                                    for (var i = 1; i < 10; i++) {
                                        if ($("#" + i + "").length > 0) {
                                            totalmoney = parseFloat($("#money" + i + "").text()) + totalmoney;
                                        }
                                    }
                                    $("#totalmoney").text(totalmoney.toFixed(2));
                                }
                            }
                        });
                        /*添加，绑定i click事件*/
                        $(".uploadfileinfo i").on('click', function () {
                            var scene = $(this).attr("id"); //获取修改的id
                            var numid = scene.substr(scene.length - 1);//截取最后的id
                            var name = $("#name" + numid + "").attr('title');
                            //   alert(name);
                            $.ajax({
                                type: "POST",
                                url: '../UsertoStore/deletetempfile',
                                data: { name: name },
                                success: function (data) {
                                    /*删除成功删除页面显示*/
                                    if (data == 1) {
                                        $("#" + numid + "").remove();
                                        /*重新计算总费用*/
                                        var totalmoney = 0;
                                        for (var i = 1; i < 10; i++) {
                                            if ($("#" + i + "").length > 0) {
                                                totalmoney = (parseFloat($("#money" + i + "").text()) + totalmoney).toFixed(2);
                                            }
                                        }
                                        $("#totalmoney").text(totalmoney);
                                    }
                                    else {
                                        alert("取消失败。 。。未找到此文件。");
                                    }
                                }

                            });

                        });
                    }
                    else {
                        alert("提示: 文件格式错误，本程序只支持 .pdf .doc .docx 文件");
                        $("#MyFileUpload").clearFields(); //清空选择文件
                    }
                }//success 方法部分结束
            });
            $("#Upfiles").prop("readonly", false);//重新可上传
        }

        /*准备事件*/
        $(document).ready(function () {
            layui.use(['layer'], function () {
                var  layer = layui.layer;
            /*提交事件*/
            $("#submitpool").on('click', function () {
                var tel = $("#yourtel").val();
                if (tel.length != 0) {
                    reg = /^1[34578]\d{9}$/;
                    if (!reg.test(tel)) {
                        alert("请填写正确格式的电话号码。");
                        return;
                    }
                } else {
                    alert("请填写您的电话。");
                    return;
                }
                if ($("#yourname").val().length == 0) {
                    alert("请填写您的姓名。");
                    return;
                }
                //alert($("#carrytolocation").is("checked"));//这样可以获取到值但是永远是 false ，使用prop,attr方法获取不到为 undefined
                if ((change_carrynum%2)!=0) {  //使用全局变量，通过记录改变的次数来判断是否，送货上门
                    if ($("#or_loacation").val().length == 0 || $("#or_loacation").val()==" ") {
                        alert("请填写收货地址。");
                        return;
                    }
                }
                if (num == 0) {//判断是否有文件
                    alert("请上传文件。！"); return;
                }
                if (!checktime()) { layer.msg("不在营业时间。"); return; }//判断在不在店铺营业时间
                if ((change_carrynum % 2) != 0 && carry == false) { layer.msg("本店不支持送货上门,请取消勾选"); return; }

                if (confirm("您已确认订单。")) {
                    layui.use('layer', function () {
                        var $ = layui.jquery, layer = layui.layer;
                        var total = parseFloat($("#totalmoney").text());
                        if (total <= carryterm && (change_carrynum % 2) != 0) { $("#checktotalmoney").text((total + carryadd).toString()); }
                        else { $("#checktotalmoney").text(total.toString()); }
                        layer.open({
                            type: 1,
                            title: '诚信支付',
                            skin: 'layui-layer-demo', //样式类名
                            closeBtn: 1, //不显示关闭按钮
                            anim: 2,
                            shadeClose: false, //开启遮罩关闭
                            content: $("#payform")
                        });
                    });


                }
                else { return; }
            });

            })
            
            /*确认已支付*/
            $("#Iamsure").on('click', function () {
                var tel = $("#yourtel").val();
                if (tel.length != 0) {
                    reg = /^1[34578]\d{9}$/;
                    if (!reg.test(tel)) {
                        alert("请填写正确格式的电话号码");
                        return;
                    }
                    var files = "";  //储存文件名称
                    var realfilename = "";//储存修改后的文件名称
                    var filerepeat = "";//储存单个文件重复打印次数
                    var pages = "";//储存单个文件页数
                    var filenarrow = "";//储存单个文件是否缩印
                    var fileside = "";//储存单个文件是单面还是双面
                    var filenum = 0;  //储存文件个数
                    var pagenum = 0; //存储总的文件页数
                    for (var i = 1; i < 10; i++) {
                        if ($("#" + i + "").length > 0) {
                            files = files + $("#name" + i + "").text() + "!!";
                            filerepeat = filerepeat + $("#copy" + i + "").val() + "!!";
                            filenarrow = filenarrow + $("#reduced" + i + "").find("option:selected").text() + "!!";
                            fileside = fileside + $("#pagestyle" + i + "").find("option:selected").text() + "!!";
                            pages = pages + $("#pages" + i + "").text() + "!!";
                            realfilename = realfilename + $("#name" + i + "").attr('title') + "!!";
                            var nowpage = $("#pages" + i + "").text();//获取页数
                            var page = parseInt(nowpage.substring(0, nowpage.length - 1));//去掉后面的p,并转换为数字
                            var repeat = parseInt($("#copy" + i + "").val());//重复的份数
                            pagenum = pagenum + page * repeat;
                            filenum++;
                        }
                    }
                    
                    $.ajax({
                        type: 'post',
                        url: '../UsertoStore/recordorderpool',
                        data: {
                            money: $("#checktotalmoney").text(), files: files, tel: tel, remark: $("#remark").val(), location: $("#or_loacation").val(), filenum: filenum, username: $("#yourname").val(),
                            filerepeat: filerepeat, filenarrow: filenarrow, fileside: fileside, pages: pages, realfilename: realfilename, ifcarry: (change_carrynum % 2).toString(), pagenum: pagenum
                        },
                        success: function (data) {
                            if (data != null) {
                                alert("提交成功，我们将在预定时间段将文件送达您的寝室。 \n请牢记您的取货码：" + data + "");
                                location.href = "../UsertoStore/UsertoStore";
                            } else {
                                alert("emmm.....出故障了。");
                            }
                        }
                    });
                }
            });
            /*支付宝，微信支付图片切换*/
            $("#zhifubao").on('click', function () {
                $("#wechatpay").css('display', 'none');
                $("#alipay").css('display', 'block');
            });
            $("#weixin").on('click', function () {
                $("#alipay").css('display', 'none');
                $("#wechatpay").css('display', 'block');
            });

            //加载店铺名称，位置，图片，价格等信息
            $.getJSON("TheStore", function (data) {
                $.each(data, function (key, value) {
                    $("#store_name").html(value.s_name);
                    var sculpture_src = "../../../Content/images/headicon/store/" + value.s_sculpture;
                    var s_photo_src ="../../../Content/images/storephoto/"+ value.s_photo;
                    $("#store_sculpture").attr('src', sculpture_src);
                    $("#store_photo").attr('src', s_photo_src);
                    $("#store_worktime").html(value.s_worktime);//营业时间
                    carry = value.s_carry;//送货上门 
                    if (carry == true) {
                        $("#diliver_cahrge").append("<span title=\"送货价格\" style=\"color:red;\">送货上门：不满" + value.s_carryterm + "加" + value.s_carryadd + "</span>");
                        carryterm = parseFloat(value.s_carryterm);//全局变量赋值，订单最低量
                        carryadd = parseFloat(value.s_carryadd);
                    } else {
                        $("#diliver_cahrge").append("<span title=\"送货价格\" style=\"color:red;\">不支持送货上门</span>");
                    }
                    $("#store_location").html("打印店地址：" + value.s_location);
                });
            });
            $.getJSON("StorePriceItem", function (data) { //分为两个getJson是为了减少数据库查询出结果的冗余
                $.each(data, function (key, value) {
                    if (value.priceItem_name == "A4单面") {  //为全局变量赋值，用于计算打印价格
                        nocolor_single = parseFloat(value.sItem_price);
                    }
                    else if (value.priceItem_name == "A4双面") {
                        nocolor_double = parseFloat(value.sItem_price);
                    }

                    $("#price_items").append("<span>" + value.priceItem_name + "：<span style=\"color: #1E9FFF;\">" + value.sItem_price + " </span>" + value.priceItem_unit + "</span></br>");
                });
            });
            //layui重新渲染
            //layui.use('element', function () {
            //    var element = layui.element;
            //    element.init();
            //});

            /*确认收货是否勾选，触发事件，因为不能*/
            $("#carrytolocationl").on('change', function () {//使用全局变量，通过记录改变的次数来判断是否，送货上门，试了很多方法都不行。。。可悲
                change_carrynum = change_carrynum + 1;
            });
            
        });
    </script> 
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-cyan" style="margin:0;padding:0;">
            <div class="" style="text-align:center;height:100%;">
            <h1 style="padding-top:12px;height:100%;border-bottom:none;"><img id="store_sculpture" src="~/Content/images/headicon/illust.png" class="layui-nav-img" />
                <label id="store_name">西柚云上打印群</label></h1>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @*<ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="../../Content/images/headicon/sweet.jpg" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>*@
        </div>


        <div class="" scrolling="no" style="height:600px;width:100%;">
            <!-- 内容主体区域 -->
            <!--左边内容-->
            <div class="layui-carousel-left" style="height:600px;width:300px;">
                <div style="">
                    <img id="store_photo" src="" alt="" class="layui-layer-imgbar" style="width:300px;" />@*height:200px;display:block;*@
                </div>
                <div style="margin-left:20px;display:block;">
                    <!--动态添加，各种打印服务价格-->
                    <div id="price_items" style="width:100%;">

                    </div>
                    <!--送货价格-->
                    <div id="diliver_cahrge" style="width:100%;">
                        <span>营业时间：<span id="store_worktime"></span></span></br>
                    </div>
                    <!--打印店地址-->
                    <div id="location" style="width:100%;">
                        <span id="store_location" tile="打印店地址"></span>
                    </div>
                </div>
            </div>
            <!--右边内容-->
            <div class="layui-carousel-right" style="margin-left:100px;">
                <!--用户信息填写-->
                <div class="layui-body layui-bg-green" style="height:100px;text-align:left;padding-top:16px;padding-left:30px;margin-left:100px;">

                    <div style="margin:6px;">
                        <span class="conclude_money">
                            您的电话：<input id="yourtel" type="text" required />
                        </span>
                        <span class="conclude_money" style="margin-left:10px;">
                            您的姓名：<input id="yourname" type="text" required maxlength="10" /> 
                        </span>
                        <span class="conclude_money" style="margin-left:50px;">
                            <label style="font-size:16px;" id="carrytolocationl"><input id="carrytolaocation" name="carrytolocation" runat="server" type="checkbox"/>  送货上门 </label>
                            
                        </span>
                    </div>
                    <div style="margin:6px;">
                        <span class="users_information">
                            送货地址：<input id="or_loacation" type="text" required />
                        </span>
                        <span class="conclude_money" style="margin-left:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<input type="text" ID="remark" />
                        </span>
                        <span id="showprintmoney" style="margin-left:60px; display:inline;">打印费用：<span id="totalmoney" style="color:#41f316;font-size:18px;">0.0</span>￥</span>
                        <input id="submitpool" type="button" style="margin:0 0 0 20px;padding:0 12px;background-color:rgba(0, 255, 255, 0.19);" value="确认提交" />
                    </div>
                </div>
                <!--文件上传，修改参数-->
                <div class="layui-body" style="height:500px;margin-top:100px;margin-left:100px;background-color:#dddddd;">
                    <form id="form1" runat="server">
                        <div>
                            <span class="users_information conclude_money" id="Upfiles">
                                <input type="file" name="MyFileUpload" id="MyFileUpload" />
                                <input type="button" id="Inputthefile" value="上传" onclick="FileUpload()" style="width:60px;" />
                                <input id="recordfilenum" style="display:none;" />

                                <asp:Label ID="Labelprompt" runat="server" Text=""></asp:Label>
                            </span>
                        </div>
                        <div id="uploadfilelist" class="users_information"></div><br />

                    </form>
                </div>
            </div>

        </div>

        <div class="layui-footer" style="margin:0;">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <!--------------编辑信息表单布局---------------------->
    <div id="payform" style="display:none;padding:0;width:360px;">
        <form id="pay">
            <div class="layui-form-item">
                <label class="layui-form-label" style="font-size:46px;font-family:楷体;width:60%;"><i class="layui-icon" style="font-size:30px;color: #1E9FFF;">&#xe60c;</i>信<i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe60c;</i> </label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">总费用:</label>
                <label class="layui-form-label" id="checktotalmoney" style="color:red;font-size:36px;"></label>
            </div>
            <div class="layui-form-item" style="padding:0;">
                <img id="alipay" src="~/Content/images/important/alipay.jpg" style="height:300px;width:300px;margin:0 30px;" />
                <img id="wechatpay" style="display:none;height:300px;width:300px;margin:0 30px;" src="~/Content/images/important/wechatpay.png" />
            </div>
            <div class="layui-form-item">
                <input type="button" id="zhifubao" name="zhifubao" autocomplete="off" value="支付宝" class="layui-btn" style="margin:0 0 0 110px;">
                <input type="button" id="weixin" name="weixin" autocomplete="off" value="微信" class="layui-btn">
            </div>
            <div class="layui-form-item">
                <input type="button" style="width:100%;padding:0 20px 0 20px;background-color:#FF5722;" id="Iamsure" name="Iamsure" autocomplete="off" value="我已支付" class="layui-btn">
            </div>
        </form>
    </div>

    <script src="~/Content/layui/layui.js"></script>

    <script>

    </script>
</body>
</html>
