@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>邓小窝</title>
    <link rel="stylesheet" href="~/Content/dengmain/reset.css" />
    <link rel="stylesheet" href="~/Content/dengmain/main.css" />
    <link rel="stylesheet" href="~/Content/dengmain/font-awesome.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="main-wrapper">
            <header>
                <!--页头-->
                <nav>
                    <div class="logo"><a href="#">邓小窝</a></div>
                    <ul>
                        <li><a href="#" class="active">首页</a></li>
                        <li><a href="../Print/Main">打印</a></li>
                        <li><a href="#">连接1</a></li>
                        <li id="sidebar_trigger"><a href="#">侧栏</a></li>
                    </ul>
                </nav>
                <div id="banner">
                    <div class="inner">
                        <h1>邓小窝</h1>
                        <p class="sub-heading">CAN A MAN BRAVE IF HE'S AFRAID?    THAT IS THE ONLY TIME A MAN</p>
                        <button>KeepMe</button>
                        <div class="more">更多</div>
                        <span class="icon-2x icon-fighter-jet icon-rotate-90"></span>
                    </div>
                </div>
            </header>
            <div class="content">
                <!--内容开始-->
                <section class="green-section">
                    <div class="wrapper">
                        <div>
                            <h2>一个标题</h2>
                            <div class="hr"></div>
                            <p class="sub-heading">愿你走出半生，归来仍是少年。</p>
                        </div>
                        <div class="icon-group">
                            <span class="icon1"><span class="fa fa icon-3x icon-cloud"></span></span>
                            <span class="icon1"><span class="icon-3x icon-barcode"></span></span>
                            <span class="icon1"><span class="icon-3x icon-code"></span></span>
                        </div>
                    </div>
                </section>
                <section class="gray-section">
                    <div class="article-preview">
                        <div class="text-section">
                            <h2>又一个标题</h2>
                            <p>
                                - 十年前 - <br />
                                他问她：“老师，我可以爱你吗？” <br />
                                她笑，“傻孩子，你还小。” <br />
                                - 十年后 - <br />
                                他长大结婚，她寄来一份贺礼，人没到。 <br />
                                - 二十年后 - <br />
                                得知她因病去世，他携妻参加他的葬礼，才知道她终身未嫁。<br />
                                - 三十年后 - <br />
                                他搬家时无意发现儿时的作业本，最后一页有一行醒目的字：可是我愿意等你长大。 <br />
                                【 一时错过了 将永远错过 】
                            </p>
                        </div>
                        <div class="img-section">
                            <img src="../../Content/images/pic02.jpg" alt="" />
                        </div>
                    </div>
                    <div class="article-preview">
                        <div class="img-section">
                            <img src="../../Content/images/pic01.jpg" alt="" />
                        </div>
                        <div class="text-section">
                            <h2>又一个标题</h2>
                            <p>
                                他在她的办公室对面的上一层办公。  <br />
                                他们隔了一条街，她每天偷偷地仰视他，猜测他的喜怒哀乐，记录在微博上。  <br />
                                有一天，他不在了。  <br />
                                她的微博更新为：他走了，我在想他。  <br />
                                下一秒，马上有评论：傻瓜，我搬到你对面那层去了，那样我就不用俯视看你了。<br />
                            </p>
                        </div>
                    </div>
                    <div class="article-preview">
                        <div class="text-section">
                            <h2>又一个标题</h2>
                            <p>
                                一个八岁的小男孩，收到爷爷给他的一份生日礼物，那是一只可爱的小乌龟。他在兴奋之余，很想和乌龟一起玩耍，但乌龟初到陌生的环境，一下子就把头脚缩进了壳里。小男孩便用棍子捅它，想把它赶出来，但却一直没有效果。
                                <br />爷爷看到他的举动。爷爷说：“不要用这种方法，来，我教你一个更好的办法。”他和小男孩把乌龟带进屋内，放在暖和的壁炉旁，几分钟后乌龟觉得热了，便伸出了它的头和脚，主动向小男孩爬去。“有时候人也像乌龟一样。”<br />
                                爷爷说，“不要用强硬的手段逼迫人，只要以善意、亲切、诚挚和热情，使他觉得温暖，他就一定会去做你想要他做的事。”
                            </p>
                        </div>
                        <div class="img-section">
                            <img src="../../Content/images/pic03.jpg" alt="" />
                        </div>
                    </div>
                </section>

                <section class="purple-section">
                    <div class="heading-wrapper">
                        <h2>又一个标题</h2>
                        <div class="hr"></div>
                        <div class="sub-heading">
                            与君共勉
                        </div>
                    </div>
                    <div class="card-group clearfix">
                        <div class="card">
                            <h3>标题三</h3>
                            <p>穷，则思变，变则通，通则达。</p>
                        </div>
                        <div class="card">
                            <h3>标题三</h3>
                            <p>思辨难断，畏首畏尾。不做鼠辈，愿为蚂蚁。</p>
                        </div>
                        <div class="card">
                            <h3>标题三</h3>
                            <p>系统功能结构系统详细设计4500软件的类--7个实体图 到 表</p>
                        </div>
                        <div class="card">
                            <h3>标题三</h3>
                            <p>系统功能结构系统详细设计4500软件的类--7个实体图 到 表</p>
                        </div>
                        <div class="card">
                            <h3>标题三</h3>
                            <p>系统功能结构系统详细设计4500软件的类--7个实体图 到 表</p>
                        </div>
                        <div class="card">
                            <h3>标题三</h3>
                            <p>系统功能结构系统详细设计4500软件的类--7个实体图 到 表</p>
                        </div>
                    </div>
                </section>

            </div>
            <footer>
                <ul class="share-group">
                    <li><a href="../UserLogin/UserLoginview" style="color:white;">后台管理</a></li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="copy">
                    @@copy 邓小窝
                </div>
            </footer>
        </div>
        <div class="mask"></div>
        <div id="sidebar">
            <ul>
                <li><a target="_blank" href="demoguoguan">过关小游戏</a></li>
                <li><a target="_blank" href="demodelesqure">弹珠消方块</a></li>
                <li><a target="_blank" href="demosnake">贪吃蛇</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
            </ul>
        </div>
        <button class="backto-top" type="button">返回顶部</button>
        <script src="~/Script/jquery.min.js"></script>
        <script src="~/Script/dengmain/main.js"></script>
    </form>
</body>

</html>

