@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userPage</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/userpage/itemmain.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax
        })
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-cyan">
            <div class="" style="text-align:center;height:100%;"><h1 style="padding-top:12px;"><img src="~/Content/images/headicon/illust.png" alt="" class="layui-nav-img" />西柚云上打印群</h1></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="../../Content/images/headicon/sweet.jpg" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                         
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>


        <div class="" scrolling="no">
            <!-- 内容主体区域 -->
            <div id="theStores">
                <ul>
                    <li>
                        <img src="~/Content/images/headicon/illust.png" alt="" />
                    </li>
                </ul>
            </div>
            @*<div class="content content-nav-base buytoday-content">
                <div id="list-cont">
                    <div class="banner-box">
                        <div class="product-list-box">
                            <div class="product-list w1200">
                                <div class="list-cont" cont='tuangou'>
                                    <div class="item-box layui-clear">
                                        <div class="item">
                                            <img src="~/Content/images/headicon/illust.png" alt="" />
                                            <div class="text-box">
                                                <p class="title">宝宝专用硅胶环保饭碗四套+调羹+筷子自助学吃饭套装</p>
                                                <p class="plic">
                                                    <span class="ciur-pic">￥100.00</span>
                                                    <span class="Ori-pic">￥208.00</span>
                                                    <span class="discount">5折</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>*@
            </div>

                <div class="layui-footer" style="margin:0;">
                    <!-- 底部固定区域 -->
                    © layui.com - 底部固定区域
                </div>
            </div>
    <script src="~/Content/layui/layui.js"></script>
    <script>
        
    </script>
</body>
</html>

